<section class="slideshow-container">
  <div *ngFor="let item of imageList; let i = index">
    <div class="slide fade" *ngIf="i % 3 === 0">
        <img src="{{imageList[i]}}" style="width:33%">
        <img src="{{imageList[i+1]}}" style="width:33%">
        <img src="{{imageList[i+2]}}" style="width:33%">
    </div>
  </div>
  <a class="prev" (click)="plusSlides(-1)">&#10094;</a>
  <a class="next" (click)="plusSlides(1)">&#10095;</a>
</section>

<section style="text-align:center">
  <span class="page" (click)="setSlide(1)"></span> 
  <span class="page" (click)="setSlide(2)"></span> 
  <span class="page" (click)="setSlide(3)"></span> 
</section>