<section class="slideshow-container">
  <aside class="toggle">
    <mat-slide-toggle [color]="accent" [(ngModel)]="enabled" (change)="toggleSlideShow()">
      Toggle Slide Show
    </mat-slide-toggle>
  </aside>
  <div *ngFor="let item of productList; let i = index">
    <div class="slide fade" *ngIf="i % 3 === 0">
      <div class="slide-thumbnail">
        <a [routerLink]="['/product']" [queryParams]="{ name: productList[i].name }">
          <img class="slide-image" [src]="productList[i].imageLink">
        </a>
      </div>
      <div class="slide-thumbnail">
        <a [routerLink]="['/product']" [queryParams]="{ name: productList[i+1].name }">
          <img class="slide-image" [src]="productList[i+1].imageLink">
        </a>
      </div>
      <div class="slide-thumbnail">
        <a [routerLink]="['/product']" [queryParams]="{ name: productList[i+2].name }">
          <img class="slide-image" [src]="productList[i+2].imageLink">
        </a>
      </div>
    </div>
  </div>
  <a class="prev" (click)="plusSlides(-1)">&#10094;</a>
  <a class="next" (click)="plusSlides(1)">&#10095;</a>
</section>

<section style="text-align:center">
  <span class="page" (click)="setSlide(1)"></span>
  <span class="page" (click)="setSlide(2)"></span>
  <span class="page" (click)="setSlide(3)"></span>
  <span class="page" (click)="setSlide(4)"></span>
</section>