<section>
  <h1 class="category label">{{categoryName}}</h1>
  <div class="info">
    <div class="sort">
      <span class="label">Sort By</span>
      <select class="element">
        <option value="">None</option>
        <option value="price">Price</option>
        <option value="alphabetical">Alphabetical</option>
        <option value="rating">Rating</option>
      </select>
    </div>
    <div class="count">
      <span class="label">Total Items:</span>
      <span class="element"><strong>10</strong> / 200</span>
    </div>
    <div class="in-stock">
      <span class="label">In Stock only</span>
      <input class="element" type="checkbox" name="in-stock" id="in-stock">
    </div>
  </div>
</section>