section {
    border: 3px solid black;
    padding: 1rem;
}

.clickable {
    cursor: pointer;
}

.clickable:hover {
    text-decoration: underline;
}

li {
    list-style-type: none;
    margin-left: -2rem;
}

.hidden {
    display: none;
}