<section>
  <ul>
    <li>Category A</li>
    <ul>
      <li (click)="click('SubCategory A1')">SubCategory A1</li>
      <li (click)="click('SubCategory A2')">SubCategory A2</li>
    </ul>
    <li>Category B</li>
    <ul>
      <li>SubCategory B1</li>
      <li>SubCategory B2</li>
    </ul>
    <li>Category C</li>
    <ul>
      <li>SubCategory C1</li>
      <li>SubCategory C2</li>
    </ul>
    <li>Category D</li>
    <ul>
      <li>SubCategory D1</li>
      <li>SubCategory D2</li>
    </ul>
  </ul>
</section>