.page-footer {
    font-family: Roboto, "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    padding: 12px;
    font-size: 12px;
    margin-top: 40px;
    background-color: #777777;
    color: white;
    position: fixed;
    bottom: 0px;
    left: 0;
    right: 0;
    width: 100%;
}

.page-footer-list {
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    padding: 8px;
}

.page-footer-logo {
    flex: 1;
}

.page-footer-angular-logo {
    height: 50px
}

.page-footer-email {
    flex: 1;
    text-align: center;
}

.page-footer-links {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    flex-direction: column;
    min-width: 225px;
    text-align: center;
}

.page-footer-logo span {
    display: inline-block;
    line-height: 50px;
    margin: 0 40px;
    vertical-align: bottom
}

.page-footer-logo span a {
    font-size: 16px;
    padding: 0;
    text-decoration: none;
    color: inherit;
}

.page-footer-logo span a:hover {
    text-decoration: underline;
}

a:link, a:visited, a:hover, a:active {
    color: #ff4081;
}

@media screen and (max-width:884px) {
    .page-footer-list {
        flex-direction: column;
    }
}