<footer class="page-footer">
  <div class="page-footer-list">
    <div class="page-footer-logo">
      <div class="footer-logo">
        <span>
          <a routerLink="/">2019 &copy; WorldWideImporters</a>
        </span>
      </div>
    </div>
    <div class="page-footer-email">
      <span class="email">
        <a href="mailto:info@worldwideimporters.com">info@worldwideimporters.com</a>
      </span>
    </div>
    <div class="page-footer-links">
      <!-- rubric73 -->
      <!-- rubric76 -->
      <a routerLink="/">Home</a>
      <!-- rubric74 -->
      <!-- rubric77 -->
      <a routerLink="/about">About Us</a>
      <!-- rubric75 -->
      <!-- rubric78 -->
      <a routerLink="/contact">Contact Us</a>
    </div>
  </div>
</footer>