<footer class="docs-footer">
  <div class="docs-footer-list">
    <div class="docs-footer-logo">
      <div class="footer-logo">
        <span>
          <a routerLink="/">2019 &copy; WorldWideImporters</a>
        </span>
      </div>
    </div>
    <div class="docs-footer-version">
      <span class="version">
        <a href="mailto:info@worldwideimporters.com">info@worldwideimporters.com</a>
      </span>
    </div>
    <div class="docs-footer-copyright">
      <a routerLink="/">Home</a>
      <a routerLink="/about">About Us</a>
      <a routerLink="/contact">Contact Us</a>
    </div>
  </div>
</footer>