.card {
    width: 250px;
    display: inline-block;
    height: 400px;
    margin: 0 1em 1em 0;
}

.card-image {
    width: 75%;
    height: 75%;
    object-fit: contain;
    margin: 0 auto;
    display: block;
}

.card-actions {
    margin-top: -1rem;
}