<mat-card class="card">
  <mat-card-header>
    <!-- rubric21 -->
    <mat-card-title>
      <!-- rubric32 -->
      <a href="#" [routerLink]="['/product']" [queryParams]="{ name: item.name}">{{item.name}}</a>
    </mat-card-title>
    <!-- rubric22 -->
    <mat-card-subtitle>{{item.price | currency}}</mat-card-subtitle>
  </mat-card-header>
  <!-- rubric31 -->
  <a href="#" [routerLink]="['/product']" [queryParams]="{ name: item.name}">
    <!-- rubric23 -->
    <img mat-card-image class="card-image" src="{{item.imagelink}}" alt="Photo of {{item.name}}">
  </a>
  <mat-card-actions class="card-actions">
    <!-- rubric24 -->
    <button mat-raised-button color="accent" (click)="add(item.name)">Add</button>
  </mat-card-actions>
</mat-card>